@layer components {
	button.button-ghost--icon {
		color: var(--color-main);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border-radius: 50%;
		transition: background-color 0.2s ease-in-out;
		background: color-mix(in oklab, var(--color-main) 5%, transparent);

		&:hover {
			background: color-mix(in oklab, var(--color-main) 10%, transparent);
		}

		@variant dark {
			color: var(--color-white);
			background: color-mix(in oklab, var(--color-white) 5%, transparent);

			&:hover {
				background: color-mix(in oklab, var(--color-white) 10%, transparent);
			}
		}
	}
}
