@utility custom-text-highlight {
	@variant dark {
		color: white;
		--tw-drop-shadow-size: drop-shadow(
				0 1px 2px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.1))
			)
			drop-shadow(0 1px 1px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.06)));
		filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);

		--tw-drop-shadow-color: color-mix(
			in oklab,
			var(--color-main) var(--tw-drop-shadow-alpha),
			transparent
		);
		--tw-drop-shadow: var(--tw-drop-shadow-size);
	}
}
